:root {
  --bg-red: 0;
  --bg-green: 0;
  --bg-blue: 0;
}

#container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#subContainer {
  position: relative;
  width: 1000px;
  height: 100%;
  padding: 10px;
  /*background: #ee959e; BABY PINK*/
  /*background: #ccffe5;*/
  background: #99ffca;
  text-align: center;
  margin: 0 auto;
  /*the following properties are changed through JS*/
  border-left: 10px solid rgb(0, 0, 0);
  border-right: 10px solid rgb(0, 0, 0);
}

.slidecontainer,
.colourPicker {
  position: relative;
  width: 1000px;
  height: auto;
  margin: auto;
}

.slider {
  -webkit-appearance: none; /*Override default CSS styles*/
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: hsl(350, 90%, 50%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: hsl(350, 90%, 50%);
  cursor: pointer;
}
/*--------------------------------------------------------------------------*/
.colourSlider {
  -webkit-appearance: none; /*Override default CSS styles*/
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.colourSlider:hover {
  opacity: 1;
}

.colourSlider#redc::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(var(--bg-red), 0, 0);
  cursor: pointer;
}

.colourSlider#redc::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(var(--bg-red), 0, 0);
  cursor: pointer;
}
/*--------------------------------------------------------------------------*/

.colourSlider#greenc::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(0, var(--bg-green), 0);
  cursor: pointer;
}

.colourSlider#greenc::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(0, var(--bg-green), 0);
  cursor: pointer;
}
/*--------------------------------------------------------------------------*/

.colourSlider#bluec::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(0, 0, var(--bg-blue));
  cursor: pointer;
}

.colourSlider#bluec::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(0, 0, var(--bg-blue));
  cursor: pointer;
}
/*-------------------------------------------------------------------------0*/
#colourBlock {
  position: relative;
  width: 1000px;
  height: 25px;
  margin: auto;
  background: rgb(0, 0, 0);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.InsideContent {
  display: inline-block;
}

.buttons {
  height: 60px;
  width: 380px;
  padding: 10px;
  margin: 5px 0 5px 0;
  border: 3px solid #33001a;
  background: white;
  color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
  cursor: pointer;
  align-items: center;
}

.buttons:hover {
  background: hsl(0, 0%, 95%);
}

#settings {
  position: absolute;
  width: 380px;
  margin-left: 5px;
  height: auto;
  top: 10px;
}

/*Styling for the main chatbox container as well as for the DIV elements of each individual message*/
/*--------------------------------------------------------------------------------*/

#chatboxContainer {
  position: absolute;
  width: 380px;
  left: 5px;
  height: 80%;
  top: 40px;
  border: 3px solid #33001a;
  background: white;
  font-family: monospace;
  font-size: 16px;
}

.chat-dump {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 0px;
}

/*--------------------------------------------------------------------------------*/
/*Styling for the inputs for a message to be sent to the chatbox*/

#newMessageContainer {
  position: relative;
  width: 380px;
  top: calc(97% + 1px);
}

#messageSendButton {
  position: relative;
  font-family: "Poppins", sans-serif;
  /*margin: 5px 0 5px 0;*/
  border: 3px solid #33001a;
  background: white;
  color: black;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: calc(100% + 8px);
  top: 5px;
  left: -4px;
}

#messageSendButton:hover {
  background: hsl(0, 0%, 95%);
}

#messageEntry {
  position: relative;
  font-family: "Poppins", sans-serif;
  border: 3px solid #33001a;
  color: black;
  width: 100%;
  left: -4px;
  top: 4px;
}

/*--------------------------------------------------------------------------------*/
/*Styling for the name entry input above the main chatbox*/

#divInput1 {
  position: relative;
  width: 380px;
  top: -32px;
  word-wrap: break-word;
}

#enterName {
  position: relative;
  display: inline;
  font-family: "Poppins", sans-serif;
  border: 3px solid #33001a;
  color: black;
  width: 100%;
  left: -4px;
}

/*--------------------------------------------------------------------------------*/
/*Styling for the sidebars*/

.sidebar {
  position: absolute;
  background: #ccffe5;
  height: 100%;
  width: 400px;
  top: 0;
}

#sidebarLeft {
  left: 0px;
}

#sidebarRight {
  right: 0px;
}

/*--------------------------------------------------------------------------------*/
#dropperImg {
  width: 20%;
  height: 20%;
}
